.carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    gap: 15px;
    transition: transform .5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 33.33%;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    background-position: 100% 0%;
    background-size: cover;
    position: relative;
}
.carousel-slide:hover {
    transition: 10s;
    background-position: 100% 100%;
    cursor: pointer;
}
.carousel-slide:active {
    cursor: grab;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


// ==============
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-dot.active {
    background-color: #0080ff;
}


// =================

// IMAGENS: 3173 de altura
.itemOne {
    background-image: url('../asserts/portifolio/img-1.jpeg');
}

.itemTwo {
    background-image: url('../asserts/portifolio/img-2.png');
}

.itemThree {
    background-image: url('../asserts/portifolio/img-3.png');
}

.itemFour {
    background-image: url('../asserts/portifolio/img-4.jpeg');
}

.itemFive {
    background-image: url('../asserts/portifolio/img-5.jpeg');
}